<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>借阅管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../res/vue/vue.js"></script>
    <script src="../../res/jquery/jquery.js"></script>
    <script src="../../res/swal2/sweetalert2.all.js"></script>
    <script src="../../res/bootstrap/js/bootstrap.js"></script>
    <script src="../../res/jquery/jquery.cookie.js"></script>
    <!-- <script src="../res/node_modules/iview/dist/iview.js"></script>
    <link rel="stylesheet" href="../res/node_modules/iview/dist/styles/iview.css"> -->
    <link rel="stylesheet" href="../../res/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div id="main" class="containter">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow p-3 mb-3 mt-3 rounded sticky-top">
                <a class="navbar-brand" href="#">ESLibrary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav border border-top-0 border-bottom-0 border-right-0">
                    <li class="nav-item">
                        <a class="nav-link" href="BW.html"><i class="fa fa-hand-lizard-o"></i>借还管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bookSearching.html"><i class="fa fa-book"></i>图书管理</a>
                    </li>
                </ul>
            </nav>
            <div class="card bg-muted" style="height: 657px ;">
                <div class="card-header">
                    <h3><strong>B&W</strong></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input class="col mt-3 mr-3" type="text" class="form-control" placeholder="书本编号" v-model="bId">
                        
                    </div>
                    <div class="float-right mt-3">
                            <button class="btn btn-primary btn-sm flex-fill" @click='borrowBook()'><i
                                    class="fa fa-credit-card"></i> 借书 </button>
                            <button class="btn btn-success btn-sm flex-fill" @click='returnBook()'><i
                                    class="fa fa-credit-card-alt"></i> 还书 </button>
                        </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>
<script>
    // 创建一个新的 Vue 实例
    var main = new Vue({
        // DOM 元素，挂载视图模型
        el: '#main',
        // 定义属性，并设置初始值
        data: {
            //cookie
            uid: '',
            //b&w book
            bId: '',
            rId: '',
            fine: '',
        },




        // 点击菜单使用的函数
        methods: {
            //借书
            borrowBook: function() {
                $.post("../../api/books/borrow.php", {
                    rId: $.cookie('uid'),
                    bId: this.bId,
                }).done((data) => {
                    data = JSON.parse(data);
                    //  不欠费，不延期，不多借
                    if (data.validity == 1) {
                        swal({
                            title: "借书成功！",
                            type: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        rId = "";
                        bId = "";
                    } else if (data.validity = -1) {
                        swal({
                            title: "借书失败！",
                            text: '请确认罚金以及已借数量',
                            type: "warning",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                    }else {
                        swal({
                            title: "Error！",
                            showConfirmButton: false,
                            type: 'error',
                            timer: 1000,
                        })
                    }
                })
            },
            //还书
            returnBook: function() {
                $.post("../../api/books/return.php", {
                    rId: $.cookie('uid'),
                    bId: this.bId,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.validity == 1) {
                        swal({
                            title: "还书成功！",
                            text: '欠费' + this.fine,
                            type: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        rId = "";
                        bId = "";
                    } else {
                        swal({
                            title: 'Error!',
                            type: 'error',
                            showConfirmButton: false,
                            timer: 1000,
                        })
                    }
                })
            },

        }
    })
</script>

</html>