<!-- test -->
<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../res/vue/vue.js"></script>
    <script src="../../res/jquery/jquery.js"></script>
    <script src="../../res/swal2/sweetalert2.all.js"></script>
    <script src="../../res/bootstrap/js/bootstrap.js"></script>
    <script src="../../res/jquery/jquery.cookie.js"></script>
    <!-- <script src="../res/iview/dist/iview.js"></script> -->
    <!-- <link rel="stylesheet" href="../res/iview/dist/styles/iview.css"> -->
    <link rel="stylesheet" href="../../res/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div id="main">
        add book<br>
        <input v-model="bName" type="text" placeholder="bookName">
        <input v-model="bAuthor" type="text" placeholder="author">
        <input v-model="bPub" type="text" placeholder="pub">
        <input v-model="num" type="number"> {{bName}} {{bAuthor}} {{bPub}} {{num}}
        <button @click="add">add</button>
        <br><br><br><br> remove book<br>
        <input v-model="bEachId" type="text" placeholder="bEachId">
        <button @click='remove'>remove</button>
        <br><br><br><br> borrow
        <br>
        <input v-model='rId' type='text' placeholder="rId">
        <input v-model='bEachId_borrow' type='text' placeholder="bEachId">
        <button @click='borrow'>borrow</button>
        <br><br><br><br> return
        <br>
        <input v-model='rId' type="text" placeholder='rid'>
        <input v-model='bId' type='text' placeholder="bid">
        <button @click='returnbook'>return</button>
    </div>

</body>
<script>
    let app = new Vue({
        el: "#main",
        data: {
            bName: "",
            bAuthor: "",
            bPub: "",
            num: 0,

            bEachId: '',

            rId: '',
            bId: '',
            bEachId_borrow: '',
        },
        created() {

        },
        methods: {
            add: function() {
                var that = this;
                $.post("../../api/books/addBook.php", {
                    bName: that.bName,
                    bAuthor: that.bAuthor,
                    bPub: that.bPub,
                    num: that.num
                }).done((data) => {
                    data = JSON.parse(data);
                    console.log(data.validity);
                    console.log(data.count);
                    console.log(data.msg);
                })
            },
            remove: function() {
                var that = this;
                $.post("../../api/books/removeBook.php", {
                    bEachId: that.bEachId
                }).done((data) => {
                    data = JSON.parse(data);
                    console.log(data.validity);
                    console.log(data.msg);
                })
            },
            borrow: function() {
                var that = this;
                $.post("../../api/books/borrow.php", {
                    bEachId: that.bEachId_borrow,
                    rId: that.rId,
                }).done((data) => {
                    data = JSON.parse(data);
                    console.log(data.validity);
                    console.log(data.msg);
                })
            },
            returnbook: function() {
                var that = this;
                $.post("../../api/books/return.php", {
                    rId: that.rId,
                    bId: that.bId
                }).done((data) => {
                    data = JSON.parse(data);
                    console.log(data.validity);
                    console.log(data.fine);
                    console.log(data.fId);
                    console.log(data.msg);
                })
            }
        },
    })
</script>