<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../res/vue/vue.js"></script>
    <script src="../../res/jquery/jquery.js"></script>
    <script src="../../res/swal2/sweetalert2.all.js"></script>
    <script src="../../res/bootstrap/js/bootstrap.js"></script>
    <script src="../../res/jquery/jquery.cookie.js"></script>
    <script src="../../res/iview/iview.min.js"></script>
    <!-- <script src="../res/node_modules/iview/dist/iview.js"></script> -->
    <!-- <link rel="stylesheet" href="../res/node_modules/iview/dist/styles/iview.css"> -->
    <link rel="stylesheet" href="../../res/iview/iview.css">
    <link rel="stylesheet" href="../../res/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div id="main" class="containter">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow p-3 mb-3 mt-3 rounded sticky-top">
                <a class="navbar-brand" href="#">ESLibrary</a>
                <ul class="navbar-nav border border-top-0 border-bottom-0 border-right-0">
                    <li class="nav-item">
                        <a class="nav-link" href="BW.html"><i class="fa fa-hand-lizard-o"></i>借还管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-book"></i>图书管理</a>
                    </li>
                </ul>
            </nav>
            <div class="container shadow bg-light" style="padding: 0px; margin: 0px;">
                <!-- card -->
                <div class="card bg-muted" style="height: 657px ;">
                    <div class="card-header">
                        <h3>库存图书</h3>
                        <div class="row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control ml-3" placeholder="请输入查询图书" v-model="seachBName">
                                <div class="input-group-append">
                                    <button class="btn btn-primary mr-3">Search</button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="card-body" style="padding: 0px; margin: 0px; ">
                        <!-- different views in unique size window -->
                        <div class="table-responsive">

                            <div class="text-center">
                                <!-- dark table + hover effect + grey hover + set border + small table -->
                                <table class="table table-dark table-hover table-striped table-bordered table-sm ">
                                    <div>
                                        <thead>
                                            <tr>
                                                <th>图书编号</th>
                                                <th>书名</th>
                                                <th>作者</th>
                                                <th>出版社</th>
                                                <th>数量</th>
                                                <th class="d-flex flex-wrap"> <button
                                                        class="btn btn-info flex-grow-1 btn-sm" @click='newBook()'> 新增书目
                                                    </button></th>
                                            </tr>
                                        </thead>
                                    </div>
                                    <!-- 有新的待审核人员时增加到表格下 -->
                                    <div>
                                        <tr v-if="seen">
                                            <td></td>
                                            <td><input type="text" class="form-control" placeholder="" v-model="bName">
                                            </td>
                                            <td><input type="text" class="form-control" placeholder=""
                                                    v-model="bAuthor">
                                            </td>
                                            <td><input type="text" class="form-control" placeholder="" v-model="bPub">
                                            </td>
                                            <td><input type="text" class="form-control" placeholder="" v-model="num">
                                            </td>
                                            <td>
                                                <!-- small button with the click event reload the page  -->
                                                <button class="btn btn-success btn-sm " @click='addBook()'><i
                                                        class="fa fa-plus"></i> 增加 </button>
                                            </td>
                                        </tr>
                                        <tr v-for="book in books">
                                            <td>{{book.bId}}</td>
                                            <td>{{book.bName}}</td>
                                            <td>{{book.bAuthor}}</td>
                                            <td>{{book.bPub}}</td>
                                            <td>{{book.num}}</td>
                                            <td>
                                                <!-- small button with the click event reload the page  -->
                                                <button class="btn btn-danger btn-sm "
                                                    @click='removeBook(book.bEachId)'><i class="fa fa-remove"></i> 删除
                                                </button>
                                            </td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    // 创建一个新的 Vue 实例
    var main = new Vue({
        // DOM 元素，挂载视图模型
        el: '#main',
        // 定义属性，并设置初始值
        data: {
            //Search
            searchBName: '',
            books: [],
            //addBook  
            seen: false,
            bName: '',
            bAuthor: '',
            bPub: '',
            num: 0,


        },

        // 点击菜单使用的函数
        methods: {
            //  查询图书
            search: function () {
                $.post("../../api/books/adminSearchBook.php", {
                    bName: this.searchBName,
                }).done((data) => {
                    data = JSON.parse(data);
                    this.books = data;
                })
            },



            //  新增图书
            newBook: function () {
                seen = !seen;
            },



            //  添加图书
            addBook: function () {
                swal({
                    title: '请确认信息？',
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '确定添加！',

                    //这样能传newBookInfo数组？

                }).then($.post("../../api/books/addNewBook.php", 
                newBookInfo = {
                    bName: this.bName,
                    bAuthor: this.bAuthor,
                    bPub: this.bPub,
                    num: that.num,
                })).done((data) => {
                    data = JSON.parse(data);
                    if (data.validity == 1) {
                        swal(
                            '添加成功！',
                            'success'
                        )
                        this.seen = false;
                    }
                    else{
                        swal(
                            'Error！',
                            'error'
                        )
                    }
                })
            },



            //  删除图书
            removeBook: function (bE) {
                swal({
                    title: '确定删除吗？',
                    text: '你将无法恢复它！',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '确定删除！',

                    //不确定这个括号对不对

                }).then($.post("../../api/books/removeBook.php", {
                    bEachId: bE,
                })).done((data) => {
                    data = JSON.parse(data);
                    if (data.validity == 1) {
                        swal(
                            '删除成功！',
                            'success'
                        )
                    }
                    else{
                        swal(
                            'Error！',
                            'error'
                        )
                    }
                })
            },




        }
    })
</script>

</html>