<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>借阅管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../res/vue/vue.js"></script>
    <script src="../../res/jquery/jquery.js"></script>
    <script src="../../res/swal2/sweetalert2.all.js"></script>
    <script src="../../res/bootstrap/js/bootstrap.js"></script>
    <script src="../../res/jquery/jquery.cookie.js"></script>
    <!-- <script src="../res/node_modules/iview/dist/iview.js"></script>
    <link rel="stylesheet" href="../res/node_modules/iview/dist/styles/iview.css"> -->
    <link rel="stylesheet" href="../../res/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
    <div id="main" class="containter">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow p-3 mb-3 mt-3 rounded sticky-top">
                <a class="navbar-brand" href="#">ESLibrary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="BW.html"><i class="fa fa-hand-lizard-o"></i>借还管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bookManage.html"><i class="fa fa-book"></i>图书管理</a>
                    </li>
                </ul>
            </nav>
            <div class="card">
                <div class="card-header">
                    <h3><strong>B&W</strong></h3>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" placeholder="证件号" v-model="rId">
                    <input type="text" class="form-control" placeholder="书本编号" v-model="bEachId">
                    <button class="btn btn-danger btn-sm flex-fill" @click='returnBook()'><i
                            class="fa fa-user-times"></i>还书</button>
                   
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // 创建一个新的 Vue 实例
    var main = new Vue({
        // DOM 元素，挂载视图模型
        el: '#main',
        // 定义属性，并设置初始值
        data: {
            //cookie
            uid: '',
            //b&w book
            bEachId: '',
            rId: '',
            fine: '',
        },


        created() {
            

        },

        // 点击菜单使用的函数
        methods: {
            //借书
            borrowBook: function () {
                $.post("../../api/books/borrow.php", {
                    rId: this.rId,
                    bEachId: this.bEachId,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.validity == 1) {
                        swl({
                            title: "还书成功！",
                            text: '欠费'+this.find,
                            type: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        rId = "";
                        bEachId = "";
                    }
                    else {

                    }
                })
            },
            //还书
            returnBook: function () {
                $.post("../../api/books/return.php", {
                    rId: this.rId,
                    bEachId: this.bEachId,
                }).done((data) => {
                    data = JSON.parse(data);
                    if (data.validity == 1) {
                        swl({
                            title: "还书成功！",
                            text: '欠费'+this.find,
                            type: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        rId = "";
                        bEachId = "";
                    }
                    else {

                    }
                })
            },

        }
    })
</script>

</html>