<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../res/node_modules/vue/dist/vue.js"></script>
    <script src="../res/node_modules/jquery/dist/jquery.js"></script>
    <script src="../res/node_modules/sweetalert2/dist/sweetalert2.all.js"></script>
    <!-- <script src="../res/node_modules/iview/dist/iview.js"></script> -->
    <!-- <link rel="stylesheet" href="../res/node_modules/iview/dist/styles/iview.css"> -->
    <link rel="stylesheet" href="../res/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../res/node_modules/bootstrap/dist/js/bootstrap.js">
    <link rel="stylesheet" href="../res/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../res/node_modules/@fortawesome/fontawesome-free/js/all.js">
</head>

<body class="bg-light" style="background-image: url(../image/crossword.png)">
    <div id="main">
        <div class="col-lg-4">

        </div>
    </div>
</body>

<script>
    let app = new Vue({
        el: "#main",
        data: {
            a: 8
        },
        created() {

        },
        methods: {

        }
    })
</script>

</html>